
.app_form {
  margin-top: 40px;
}
form input[type=submit]:disabled {
  opacity: .4;
  cursor: not-allowed;
}
@media screen and (max-width: 768px) {
  .w-2\/5, .w-2\/4 {
    width: 100%;
    margin: 0 15px;
  }
}
